.menu-container {
  padding: 30px;
  justify-content: center;
  background-color: #588457;
  border-radius: 14px;
}

.cloudpot-logo {
  border-radius: 14px;
}

.menu-item {
  border-radius: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  color: white;
}

.menu-item:hover {
  background-color: var(--primary-color);
}

.dropdown-menu {
  border-radius: 10px;
  width: 75%;
  display: block;
  position: absolute;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease;
}

.menu-item:hover .dropdown-menu {
  opacity: 1;
}
.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  position: relative;
  padding: 10px 30px;
}

.dropdown-menu a::after {
  content: "";
  width: 90%;
  background-color: var(--primary-color);
  height: 1px;
  border-radius: 14px;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.combo-item {
  margin: 30px 0;
  border-radius: 14px;
  padding: 10px;
  z-index: 2;
}
